ul.proveedor-lista
    include ../proveedor-resumen/proveedor-resumen.pug
    include ../proveedor-resumen/proveedor-resumen.pug
    include ../proveedor-resumen/proveedor-resumen.pug
    include ../proveedor-resumen/proveedor-resumen.pug
    include ../proveedor-resumen/proveedor-resumen.pug