article.proveedor-detalle
    h1 Nombre de Proveedor
    img(src="http://fakeimg.pl/600x600?text=retrato", alt="")
    section.bio
        p Sunt ad velit irure et eu.
        p Reprehenderit consequat voluptate dolor commodo laborum tempor Lorem nisi.
        p Ea anim officia id incididunt elit laborum occaecat adipisicing nostrud sint adipisicing.
        p Eu aliquip eiusmod duis consectetur quis irure duis cupidatat excepteur pariatur.
        p Consequat magna laborum ex Lorem voluptate culpa amet duis velit consectetur exercitation.
        p Nisi voluptate sit culpa ex fugiat Lorem magna consequat.
        p Sunt consequat eiusmod irure cupidatat esse proident sint.
        p Occaecat veniam consectetur do ex non est culpa aute exercitation ipsum officia laborum.
