header.main-header
    nav
        ul
            li
                a(href="index.html") Inicio
            li
                a(href="servicios.html") Servicios
            li
                a(href="proveedores.html") Proveedores
            li
                a(href="proveedor.html") Proveedor